# =========================
# JAVA / MAVEN
# =========================
target/
*.class
*.jar
*.war
*.ear

# Maven wrapper
.mvn/
mvnw
mvnw.cmd

# Logs
*.log

# =========================
# NETBEANS
# =========================
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
env/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# FTP FILES (opcional)
# =========================
ftp_data/
uploads/
downloads/
